@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap');
:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}
body{
    background-color: var(--Yellow);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000;
    background: var(--White);
    width: 100%;
    max-width: 375px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 0 var(--Black);
}
svg{
    border-radius: 15px;
    width:330px; height:195px;
}

/* card description */
.card-description{
    padding-top: 20px;
    padding-left: 25px;
}
.learning{
    border: 1px solid var(--Yellow);
    background-color: var(--Yellow);
    font-weight: bold;
    width: 20%;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px;
    font-weight:800;
}
h2{
    font-weight: 800;
}
.publish{
    font-size: 13px;
    font-weight:600;
    padding-top: 10px;
}
.paragraph{
    color: var(--Grey);
    font-size: 16px;
    font-weight:600;
}
.person{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.person p{
    padding-left: 10px;
}
.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color:hsl(228, 45%, 44%)
}
@media (max-width:400px){
    svg{
        width: 250px;
        height: 150px;
        border-radius: 20px;
    }
    .card{
        max-width: 280px;
    }
    .card-description{
        padding-left: 16px;
    }
    .learning{
        font-size: 12px;
        width: 23%;
    }
    .publish{
        font-size: 10px;
    }
    h2{
        font-size: 20px;
    }
    .paragraph{
        font-size: 12px;
    }
    .person p{
        font-size: 12px;
    }
}
